# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.ExpenseTracker.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Neil\source\repos\ExpenseTracker\.idea\.idea.ExpenseTracker\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
